@import "libs/theme";

.hero {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 120px);
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;

  .hero__image {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;

    .imageCombo {
      display: flex;
      justify-content: center;

      height: 100%;
      width: 100%;

      z-index: 1;
      background-color: $blue;

      .imageCombo__image {
        position: relative;
        margin: 0 -12rem;

        min-width: 41.5815rem;
        height: 26rem;
        flex-shrink: 0;

        img {
          margin: -2rem 0;
          position: relative;
          border: 1px solid;

          transition: all 0.6s ease-in-out;

          &:hover {
            transform: translate(0, -10%);
          }
        }
      }
    }
  }

  .hero__title__wrapper {
    @include typography(h1);
    font-weight: map-get($font-weight, regular);
    position: relative;
    top: 5rem;
    min-width: 40rem;
    text-align: center;
    z-index: 1;

    @include md {
      @include typography(h7);
      font-weight: map-get($font-weight, bold);
    }

    .message {
      @include typography(h1);
      line-height: 1;
      word-spacing: 1px;
      text-align: center;
      display: inline-block;
      margin-bottom: 20px;

      .blue {
        color: $blue;
      }
    }

    button {
      z-index: 1;
      height: 50px;
      width: 160px;
      background-color: $blue;
      color: $light;
      border-radius: 5px;
      border: none;
      font-weight: map-get($font-weight, bold);
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-color: $light;
        color: $blue;
        border: 1px solid $blue;
      }
    }
  }
}
